.form-group.mr-10.mb-5
  label.mx-3.text-sm.text-black-400.font-medium.leading-none(class='peer-disabled:cursor-not-allowed peer-disabled:opacity-70') Tiltle
  input#title.mx-3.flex.h-10.w-full.rounded-md.border.border-input.bg-background.text-sm.ring-offset-background(required="required" type='text' name='title' placeholder='Enter the title of your blog' class='file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50')
.form-group.mr-10.mb-5
  label.mx-3.text-sm.text-black-400.font-medium.leading-none(class='peer-disabled:cursor-not-allowed peer-disabled:opacity-70') Description
  textarea#description.mx-3.h-40.flex.w-full.rounded-md.border.border-input.bg-background(name='description' placeholder='Enter description')
.form-group.mr-10.mb-5
  label.mx-3.text-sm.text-black-400.font-medium.leading-none(class='peer-disabled:cursor-not-allowed peer-disabled:opacity-70') Markdown
  textarea#markdown.mx-3.h-40.flex.w-full.rounded-md.border.border-input.bg-background(name='markdown' placeholder='Enter description')
button#save.mx-4.my-4.relative.py-2.px-8.text-black.text-base.font-bold.nded-full.overflow-hidden.bg-white.rounded-full.transition-all.duration-400.ease-in-out.shadow-md(type='submit' class='hover:scale-105 hover:text-white hover:shadow-lg active:scale-90 before:absolute before:top-0 before:-left-full before:w-full before:h-full before:bg-gradient-to-r before:from-green-800 before:to-blue-300 before:transition-all before:duration-500 before:ease-in-out before:z-[-1] before:rounded-full hover:before:left-0')
  | Save

a.reative.py-2.px-8.text-black.text-base.font-bold.nded-full.overflow-hidden.bg-white.rounded-full.transition-all.duration-400.ease-in-out.shadow-md(href='/' class='hover:bg-red-600 hover:scale-105 hover:text-black hover:shadow-lg active:scale-90 before:absolute before:top-0') Cancel
