div
  h1.text-3xl.font-bold.mx-3.mb-4 BLOG ARTICLES
  a.no-underline.mx-3(href='/new')
    button#new.overflow-hidden.relative.w-32.p-2.h-12.bg-black.text-white.border-none.rounded-md.text-xl.font-bold.cursor-pointer.relative.z-10.group
      | New Article
      span.absolute.w-36.h-32.-top-8.-left-2.bg-white.rotate-12.transform.scale-x-0.transition-transform.duration-1000.origin-left(class='group-hover:scale-x-100 group-hover:duration-500')
      span.absolute.w-36.h-32.-top-8.-left-2.bg-emerald-500.rotate-12.transform.scale-x-0.transition-transform.duration-700.origin-left(class='group-hover:scale-x-100 group-hover:duration-700')
      span.absolute.w-36.h-32.-top-8.-left-2.bg-emerald-500.rotate-12.transform.scale-x-0.transition-transform.duration-500.origin-left(class='group-hover:scale-x-50 group-hover:duration-1000')
      span.duration-100.opacity-0.absolute.left-6.z-10(class='group-hover:opacity-100 group-hover:duration-1000 top-2.5') Create
  each article in articles
    .mr-10
      .w-full.ms-4.my-3.mt-3.rounded-lg.border.border-stone.bg-stone-100.p-4.shadow-lg(class='sm:p-6 lg:p-8')
        .flex.items-center.gap-4
          span.shrink-0.rounded-full.bg-emerald-400.p-2.text-white
          p.font-medium.text-emerald-600(class='sm:text-lg')=article.title
        p.text-gray-400.mx-4=article.createdAt.toLocaleDateString()
        p.mt-4.text-gray-600=article.description
        .mt-6(class='sm:flex sm:gap-4')
          button#view.inline-block.w-full.rounded-lg.bg-emerald-500.px-5.py-3.text-center.text-sm.font-semibold.text-white(class='sm:w-auto') View
          button#edit.inline-block.w-full.rounded-lg.bg-emerald-500.px-5.py-3.text-center.text-sm.font-semibold.text-white(class='sm:w-auto') Edit
          button#delete.inline-block.w-full.rounded-lg.bg-emerald-500.px-5.py-3.text-center.text-sm.font-semibold.text-white(class='sm:w-auto') Delete


        //-   button#edit.mx-4.my-4.relative.py-2.px-8.text-black.text-base.font-bold.nded-full.overflow-hidden.bg-white.rounded-full.transition-all.duration-400.ease-in-out.shadow-md(type='submit' class='hover:scale-105 hover:text-white hover:shadow-lg active:scale-90 before:absolute before:top-0 before:-left-full before:w-full before:h-full before:bg-gradient-to-r before:from-green-800 before:to-blue-300 before:transition-all before:duration-500 before:ease-in-out before:z-[-1] before:rounded-full hover:before:left-0')
          a#view.inline-block.w-full.rounded-lg.bg-emerald-500.px-5.py-3.text-center.text-sm.font-semibold.text-white(href='#' class='sm:w-auto') View
        //-   a#edit.inline-block.w-full.rounded-lg.bg-emerald-500.px-5.py-3.text-center.text-sm.font-semibold.text-white(href='#' class='sm:w-auto') Edit

          //- a#delete.mt-2.inline-block.w-full.rounded-lg.bg-stone-300.px-5.py-3.text-center.text-sm.font-semibold.text-gray-800(href='#' class='sm:mt-0 sm:w-auto') Delete    
          //- button#edit.inline-block.w-full.rounded-lg.bg-emerald-500.px-5.py-3.text-center.text-sm.font-semibold.text-white(class='sm:w-auto') Edit
          a#delete.mt-2.inline-block.w-full.rounded-lg.bg-stone-300.px-5.py-3.text-center.text-sm.font-semibold.text-gray-800(class='sm:mt-0 sm:w-auto') Delete