doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    script(src='https://cdn.tailwindcss.com')
    title Blog
  body
    block content
      include _landing
    
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js')
    script(type="module" src='/js/main.js')

