doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon' type='image/png' href='/img/books.png')
    script(src='https://cdn.tailwindcss.com')
    title Blog
  body(style='background-image:url(/img/gb.jpg)')
    block content
      include _landing
    
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.8/axios.min.js')
    script(type="module" src='/js/main.js')

